<div class="main-container">
  <header class="header">
    <div class="title">CLINICA VALIDAÇÕES - JFS (MATRIZ)</div>
    <div class="info">
      <span class="data">{{ currentDate$ | async }}</span>
      <span class="hour">{{ currentTime$ | async }}</span>

      <span class="logo">
        <img src="/img/logoquarkclinic.svg" alt="QuarkClinic Logo" class="logo-img" />
      </span>
    </div>
  </header>

  <div class="content-area">
    <main class="main-content">
      <app-call-panel *ngIf="currentCall$ | async as call" [call]="call">
      </app-call-panel>
    </main>

    <aside class="sidebar">
      <app-history-list [history]="(callService.history$ | async) || []" (toggleMute)="onToggleVideoMute()" (toggleVideoSize)="onToggleVideoSize()">
      </app-history-list>
    </aside>

    <app-video-panel #videoPlayer [playlistIds]="videoPlaylist" [@videoPanelState]="animationState" [isDestaque]="animationState === 'video-destaque'">
    </app-video-panel>
  </div>
</div>